## <p style="text-align: right;"> &#9989; Connor Sugrue</p>

# CMSE 202 Midterm (Section 001 - Spring 2023)

The goal of this midterm is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll practice setting up a GitHub repository, committing and pushing repository changes, downloading data with command line tools, performing some data analysis, possibly using a new Python package, and writing a python class. You should find that you have all of the skills necessary to complete this exam with even just eight weeks of CMSE 202 under your belt!

You are encouraged to look through the entire exam before you get started so that you can appropriately budget your time and understand the broad goals of the exam. Once you've read through it, try doing Parts 1 and 2 first so that you have your repository set up and you download all necessary data files as they will be necessary to complete the assigned tasks. Let your instructor know right away if you have problems downloading the data!

The exam is set up so that even if you get stuck on one part there are opportunities to get points on the other parts, so consider jumping ahead if you feel like you aren't making progress and then come back later if you have time.

**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However**: The use of any person-to-person communication software is absolutely not acceptable. If you are seen accessing your email, using a chat program (e.g. Slack), or any sort of collaborative cloud storage or document software (e.g. Google Documents), you will be at risk for receiving a zero on the exam.

**Keep your eyes on your screen!** Unfortunately, there isn't enough space in the room for everyone to sit at their own table so please do your best to keep your eyes on your own screen. This exam is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. If any of the instructors observe suspicious behavior, you will, again, risk receiving a zero.

---
## Part 0: Academic integrity statement

Read the following statement and edit the markdown text to put your name in the statement. This is your commitment to doing your own authentic work on this exam.

> I, **Connor Sugrue**, affirm that this exam represents my own authetic work, without the use of any unpermitted aids or resources or person-to-person communication. I understand that this exam is an opportunity to showcase my own progress in developing and improving my computational skills and have done my best to demonstrate those skills.

---
## Part 1: Add to your Git repository to track your progress on your exam (7 points)

Before you get to far along in the exam, you're going to add it to the `cmse202-s23-turnin` repository you created in class so that you can track your progress on the exam and preserve the final version that you turn in. In order to do this you need to

**&#9989; Do the following**:

1. Navigate to your `cmse202-s23-turnin` repository and create a new directory called `midterm`.
2. Move this notebook into that **new directory** in your repository, then **add it and commit it to your repository**.
1. Finally, to test that everything is working, "git push" the file so that it ends up in your GitHub repository.

**Important**: Double check you've added your Professor and your TA as collaborators to your "turnin" respository (you should have done this in the previous homework assignment).

**Also important**: Make sure that the version of this notebook that you are working on is the same one that you just added to your repository! If you are working on a different copy of the noteobok, **none of your changes will be tracked**!

If everything went as intended, the file should now show up on your GitHub account in the "`cmse202-s23-turnin`" repository inside the `midterm` directory that you just created.  Periodically, **you'll be asked to commit your changes to the repository and push them to the remote GitHub location**. Of course, you can always commit your changes more often than that, if you wish.  It can be good to get into a habit of committing your changes any time you make a significant modification, or when you stop working on the project for a bit.

&#9989; **Do this**:
```
(2 pt) Put the command you used to create the midterm directory here (Do Not Delete the ```)
```

mkdir midterm

&#9989; **Do this**:
``` 
(2 pt) Put the command you used to initiate git, add file, and commit actions here (Do Not Delete the ```)
```
git add CMSE202-Midterm......
git commit -m "i dont remember"
git push
username
password.

&#9989; **Do this**:
```
(2 pt) Put the command you used to push to GitHub here (Do Not Delete the ```)
```

git push

&#9989; **Do this**: 
```
(1 pt) Put the command that your instructor can run to clone your repository here (Do Not Delete the ```)

```

git clone https://github.com/connorsugrue/turn-in_CMSE202.git

---
## Part 2: Downloading and analyzing unfamiliar data (30 points)

&#9989; **(3 pt):** Download the files using `curl` and the following links. Put the command you used to download the files in the cell below.

`https://raw.githubusercontent.com/huichiayu/cmse_202_802/main/data/SAS.csv`

In [1]:
## put your command here
curl https://raw.githubusercontent.com/huichiayu/cmse_202_802/main/data/SAS.csv -O

SyntaxError: invalid syntax (<ipython-input-1-b1aff55124e7>, line 2)

&#9989; **(3 pt):** This file is a dataset of diabetic patients. Use pandas to import and display the data.

In [16]:
## put your code here
import pandas as pd
sas_y = pd.read_csv("SAS.csv", delimiter = ",")
sas_y

,AGE,SEX,BMI,Blood_pressure,Total_cholesterol,LD_lipo,HD_lipo,Total_cholesterol/HDL,triglycerides,Glucose,Y
0,59,2,32.1,101.00,157,93.2,38.0,4.00,4.8598,87,151
1,48,1,21.6,87.00,183,103.2,70.0,3.00,3.8918,69,75
2,72,2,30.5,93.00,156,93.6,41.0,4.00,4.6728,85,141
3,24,1,25.3,84.00,198,131.4,40.0,5.00,4.8903,89,206
4,50,1,23.0,101.00,192,125.4,52.0,4.00,4.2905,80,135
...,...,...,...,...,...,...,...,...,...,...,...
437,60,2,28.2,112.00,185,113.8,42.0,4.00,4.9836,93,178
438,47,2,24.9,75.00,225,166.0,42.0,5.00,4.4427,102,104
439,60,2,24.9,99.67,162,106.6,43.0,3.77,4.1271,95,132
440,36,1,30.0,95.00,201,125.2,42.0,4.79,5.1299,85,220
441,36,1,19.6,71.00,250,133.2,97.0,3.00,4.5951,92,57

&#9989; **(3 pt):** This dataset contains a column that we won't need. Drop the last column from this dataset.

In [18]:
## put your code here
sas = sas_y.drop("Y", axis =1)
sas

,AGE,SEX,BMI,Blood_pressure,Total_cholesterol,LD_lipo,HD_lipo,Total_cholesterol/HDL,triglycerides,Glucose
0,59,2,32.1,101.00,157,93.2,38.0,4.00,4.8598,87
1,48,1,21.6,87.00,183,103.2,70.0,3.00,3.8918,69
2,72,2,30.5,93.00,156,93.6,41.0,4.00,4.6728,85
3,24,1,25.3,84.00,198,131.4,40.0,5.00,4.8903,89
4,50,1,23.0,101.00,192,125.4,52.0,4.00,4.2905,80
...,...,...,...,...,...,...,...,...,...,...
437,60,2,28.2,112.00,185,113.8,42.0,4.00,4.9836,93
438,47,2,24.9,75.00,225,166.0,42.0,5.00,4.4427,102
439,60,2,24.9,99.67,162,106.6,43.0,3.77,4.1271,95
440,36,1,30.0,95.00,201,125.2,42.0,4.79,5.1299,85
441,36,1,19.6,71.00,250,133.2,97.0,3.00,4.5951,92

&#9989; **(3 pt):** Group the data by the "SEX" column and then use the built-in Pandas function to get a quick statistical summary of your data (e.g. the mean, standard deviation, min, max, etc).

In [22]:
## put your code here
described_sex = sas.groupby("SEX").describe()
described_sex

       AGE                                                        BMI  \
     count       mean        std   min   25%   50%   75%   max  count
SEX
1    235.0  46.382979  13.120665  19.0  37.0  48.0  55.0  75.0  235.0
2    207.0  50.942029  12.697623  20.0  41.0  53.0  60.0  79.0  207.0

                ... triglycerides        Glucose                              \
          mean  ...           75%    max   count       mean        std   min
SEX             ...
1    26.010638  ...        4.9452  6.107   235.0  89.017021  11.403241  58.0
2    26.790338  ...        5.0304  6.107   207.0  93.806763  11.089283  66.0


      25%   50%    75%    max
SEX
1    81.0  89.0   96.0  124.0
2    87.0  93.0  100.5  124.0

[2 rows x 72 columns]

&#9989; **(9 pt):** For male patients, make a scatter plot of glucose level versus age. Make sure to include labels and a title for your plot. (Assume that Male corresponds to 2 in the "SEX" column.)

In [38]:
described_sex["AGE"]["count"]

SEX
1    235.0
2    207.0
Name: count, dtype: float64

22.2

In [ ]:
## put your code here
plt.scatter(described_sex)

&#9989; **(9 pt):** Create two histograms for BMI distribution on the same plot. One for male and the other for female patients. Again, make sure to include labels for the axis, as well as a title for your plot.

In [ ]:
## put your code here

---
### &#128721; STOP (1 PT)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 2**", and push the changes to GitHub.

---
## Part 3: Using unfamilar library (25 points)

For this problem, we want you to use a new package that you aren’t as used to. Specifically, you’ll be using the Plotly plotting package (https://plotly.com/python/).

✅ Your goal is to use this new package to create some new plots.

*Hint: You might want to take a look at the Plotly example gallery.*

&#9989; **(6 pt):** From the dataframe used above, make a scatter plot of glucose level versus age. Make sure to include a title.

In [ ]:
## put your code here

&#9989; **(6 pt):** Create a histogram for BMI distribution and have it seperated by sex. Make sure to include a title.

In [ ]:
## put your code here

&#9989; **(6 pt):** Draw a scatter matrix plot of the data with the variables: **AGE, BMI, LD_lipo, triglycerides, and Glucose.** Make sure to include a title for your plot. (**Note** It may be useful to use Google to help you find relevant documentation.)

In [ ]:
## Put your code here

&#9989; **(7 pt):** Create another scatter matrix plot like you did above, but now use different colors for the male and female data points.

In [ ]:
## Put your code here

---
### &#128721; STOP (1 PT)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 3**", and push the changes to GitHub.

---
## Part 4: Writing and using Python classes (35 points)

For this question, you are asked to create two classes: customer and account.

### First, download the list of customers (3 pt).

&#9989; **(1 pt):** Download the csv file from
`https://raw.githubusercontent.com/huichiayu/cmse_202_802/main/data/list_customer.csv`

&#9989; **(2 pt):** Use pandas to import the data. This table contains the names of customers, account numbers, account owner's email addresses, and amount of money (in USD) in the account.

In [ ]:
# put you code here

In [ ]:
# Fill in the question mark portion.
import pandas as pd

customers = ??
customers

### Build the account class
&#9989; **(8 pt):** The account class will contain 3 attributes (number, owner, total_amount), and a total of 6 methods. Make sure to read the DocString and complete the code where stated.

In [ ]:
# Please fill in the parts with question marks and where it states "Put code here"

class account():
    
    def __init__(self, number, owner, initial_amount = 0.0):
        """Initialize the attributes of the class.
        
        Parameters
        ----------
        number : string 
            Account number.
        
        owner : string
            Account owner's name 
        
        initial_amount: float
            Initial amount of money in the account.
        
        """
        self.number = ??
        self.owner = ??
        self.total_amount = initial_amount 
        
        
    def get_acct_owner(self):
        """Returns the name of account owner."""
        return self.owner
        
        
    def get_acct_amount(self):
        """Returns the amount of money in the account."""
        return self.total_amount     
   
    
    def get_acct_number(self):
        """Returns the number of the account."""
        return self.number
        

    
    def deposit(self, amount):
        """Deposit money into the account amount.
        
        Parameters
        ----------
        amount : float
            Amount to be deposited.
        
        """
        # put your code here 
        
        
        
    def withdraw(self, amount):
        """Remove money from the account amount.
        
        Parameters
        ----------
        amount : float
            Amount to be withdrawn.
        
        Returns
        -------
        True if there are enough money in the account
        
        False if there are not enough money in the account
        
        """
        # put your code here 


    
    def transfer_to(self, money, other_account):
        """Transfer money to another account if there are enough money.
        Should check to see if there is enough funds in the account 
        before making the transfer. If there is enough funds, transfer
        the funds and return True. If there isn't return False.
        
        Parameters
        ----------
        money : float
            Amount of money to transfer.
        
        other_account : object
            Instance of Account class where to transfer money.
        """
       # put your code here

### Test your account class

&#9989; Let's check whether the code works. Run the following cell and you should get the following output:

In [ ]:
ac = account('456789','Bob',1200)

print(f"Customer {ac.get_acct_owner()} owns account {ac.get_acct_number()}, which has ${ac.get_acct_amount()}")

### Build the account class.

&#9989; **(5 pt):** The customer class has 4 attributes and 4 methods. Read the DocString and complete the class.
Make the 4 methods listed below: 
1. `get_acct` which returns the owner's account.
1. `get_gender` which returns account owner's gender.
1. `get_customer_name` which returns account owner's name.
1. `get_customer_email` which returns account owner's email address.

In [ ]:
class customer():
    
    """Customer class. It is used to keep track of customers'data
    
    Attributes
    ----------
    name: string
        customer's name. first and last name

    sex: string
        customer's gender.

    email: string
        Email address where to reach the customer.
    
    acct: object
        customer's account.
    """    
    
    
    def __init__(self, name, sex, email, acct):
        """ Initialize the customer with their data.

        Parameters
        ----------
        name: string
        customer's name. first and last name

        sex: string
        customer's gender.

        email: string
        Email address where to reach the customer.

        acct: object
        customer's account.
        """       
        # Put your code here

### Test your customer class

&#9989; Let's check whether the code works. Run the following cell and you should get the following output

In [ ]:
Bob = customer('Bob','M','bob@msu.edu', ac)

print(f"Customer {Bob.get_customer_name()} can be reached at {Bob.get_customer_email()}")
print(f"Customer {Bob.get_customer_name()} owns account {Bob.get_acct().get_acct_number()}")

### Instantiate classes from the customer table.

&#9989; **(6 pt):** Use for-loop to instantiate the accounts in the customer table, and assign the respective attributes from the data frame. Also, instantiate customer classes, and append those customer classes to the `cus_list` list.

In [ ]:
cust_obj_list = []

# put your code here

for i in range(??):
    ac_data = ????.astype(object)
    accnt_obj = account(?????)
    customer_obj = customer(?????)
    cust_obj_list.append(??)

### Import the transaction table

&#9989; **(1 pt)** Download the csv file from 
`https://raw.githubusercontent.com/huichiayu/cmse_202_802/main/data/transactions.csv`

In [ ]:
# put your code here

&#9989; Use pandas to read in the transation logs.

In [ ]:
# put your code here

transac = ??

transac

### Perform transactions. 

&#9989; **(8 pt)** Now, you have account classes, customer classes, and a transaction log. Write a program that uses a for-loop to perform the transactions on the table between customers. 
###  Hint
Here we first create a dictionary to map customer name and index in the pandas data frame.

In [ ]:
# create a dictionary for names and indices
## Put your code here

1. Then, you can use customer as key and index as value to call the classes and perform transactions in the for loop. 
1. If you do not want to use the dictionary above, please feel free to use you own idea. 

1. In the loop, you can call the customer class, then find the account, and then perform deposit, withdraw, or transfer.


**If you cannot complete this cell in time, move on to the next one.**

In [ ]:
for i in range(len(transac['Customer'])):
    
    # put you code here
    
    ind = ????
    ac = ????
    
    trans_type = ????
    amt = ?????
    

    if trans_type == 'withdraw':
        ????
        
    if trans_type == 'deposit':
        ?????
        
    
    if trans_type == 'transfer':
        ?????

### Finally, let's summarize the funds in customers' accounts (4 pt)

Write some code to find out whose account balance is below $\$$300 and whose is above $\$$15000.

If account balance is below  $\$$300,

For female customers, print `customer email address`: Ms. `customer name`, your account balance is $`account amount`, which is below $300.  

For male customers, print `customer email address`: Mr. `customer name`, your account balance is $`account amount`, which is below $300. 


If account balance is above $\$$15000,

For female customers, for female customers, print `customer email address`: Ms. `customer name`, your account balance is $`account amount`. Would you like to join our investiment plan.

For female customers, for male customers, print `customer email address`: Mr. `customer name`, your account balance is $`account amount`. Would you like to join our investiment plan.


Here is an example printout.  

Here is an example printout. 


<img src="https://raw.githubusercontent.com/huichiayu/cmse_202_802/main/IMGs/example_printouts_1.png" border="0" align="center" width="800">

**If you could not get the cell above is to work, then we will grade this cell based on the code correctness.**

In [ ]:
for i in range(len(cus_list)):
    acc_balc = ???
    
    if acc_balc < 300:
        gd = ????
        if gd == 'M':
            print(f"{cus_list[i].????)}: Mr. {cus_list[i].?????}, \
your account balance is ${cus_list[i].?????}, which is lower than $300." )
        if gd == "F":
            print(f"{cus_list[i].??????}: Ms. {cus_list[i].??????}, \
your account balance is ${cus_list[i].????}, which is lower than $300." )
        
    if acc_balc > 10000:
        gd = ????
        if gd == 'M':
            print(f"{cus_list[i].????}: Mr. {cus_list[i].????}, \
your account balance is ${cus_list[i].??????}. Would you like to join our investment plan." )
        if gd == "F":
            print(f"{cus_list[i].?????}: Ms. {cus_list[i].?????}, \
your account balance is ${cus_list[i].????}. Would you like to join our investment plan." )

---
### &#128721; STOP (1 PT)
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 4**", and push the changes to GitHub.

## You're done! Congrats on finishing your CMSE 202 Midterm!

Make sure all of your changes to your repository are committed and pushed to GitHub. Also upload a copy of this notebook to the dropbox on D2L in case something went wrong with your repository or if you couldn't get the repository to work.